<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit CRUD</title>
</head>
<body>
    <h3>Edit page</h3>
    <p>
        form action="/put-crud" method="POST"
        input's value is <%= data.firstName %>, <%= data.lastName %>, <%= data.address %>, (hidden <%= data.id %>)
    </p>
</body>
</html>